@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
}

@keyframes customPing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}
.hover\:animate-customPing:hover {
    animation: customPing 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}